
:root{
    --primaryColor: #FFD580;
    --secondaryColor: #E9E8E6;  

    --fontColor: #000;
    --errColor: #FF3333;

    --primaryColorHover: #F1B642;
}

.error{color: var(--errColor);}

/* Card content-header */                       
.content-header{padding-bottom: 0;}

.card-body{padding-bottom: 0;}

.modal-header{background-color: var(--primaryColor);}

.modal-contentBG{background-color: var(--secondaryColor);}

.modalBtn{
    background-color: var(--primaryColor);
    color: var(--fontColor);
    border: none;
}

.modalBtn:active, .modalBtn:hover{
    background-color: var(--primaryColorHover);
}

/* Datatable search */
.dataTables_wrapper .dataTables_paginate {
    padding-bottom: 10px;
}

/* Left Sidebar */
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active{
    background-color: var(--primaryColor);
}
