.error{color: #ff3333;}

/* Card content-header */                       
.content-header{padding-bottom: 0;}

.card-body{padding-bottom: 0;}

.modal-header{background-color: #FFD580;}

.modalBtn{
    background-color: #FFD580;
    color: #000;
    border: none;
}

.modalBtn:active, .modalBtn:hover{
    background-color: #f1b642;
}

#searchButton:active, #searchButton:hover{background-color: #f1b642;}

/* Datatable search */
.dataTables_wrapper .dataTables_paginate {
    padding-bottom: 10px;
}

/* Left Sidebar */
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active{
    background-color: #FFD580;
}
